.poolmaincont {
  width: fit-content;
  height: 80%;
  padding: 0px 2%;
}

span + #derivexlol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.poolmch {
  width: 100%;
  height: 13%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
}
.poolmch1 {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pmch1l {
  display: flex;
}

.pmch1c1 {
  font-size: 1.125rem;
  height: 24px;
  font-weight: 800;
}
.pmch1c2 {
  font-size: 0.75rem;
}
.pmch1c {
  display: flex;
  flex-direction: column;
}

.pmch1s {
  height: 100%;
  width: 46rem;
}
.poolinfoliq {
  width: 100%;
  height: 87%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.poolinfo {
  width: 25rem;
  height: 100%;
  padding: 25px;
  border-radius: 18px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #242629;
}

.infocont1 {
  height: 20%;
  width: 100%;

  font-size: 1.5rem;
  font-weight: bold;
}

.infocont2 {
  width: 100%;
}

.infocont2 button {
  background-color: #242629bc;
  color: white;
  padding: 7px 20px;
  border-radius: 10em;
  border: none;
  outline: none;
}

.poolliq {
  background-color: #242629;
  width: 46rem;
  height: 100%;
  padding: 25px;
  border-radius: 18px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 2%;
}

.poolinfo .infocont {
  width: 100%;
  height: 18rem;
  background: linear-gradient(
    131deg,
    rgba(71, 32, 113, 1) 40%,
    rgba(34, 146, 168, 1) 100%
  );
  border-radius: 18px;
  padding: 25px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.infocont + p {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  text-align: start;
  margin-top: 1.5rem;
  margin-bottom: 0px;
}

.picont1 {
  height: 70px;
  width: 22rem;

  margin-top: 1.5rem;
}

.picont11 {
  font-size: 0.85rem;
  color: rgba(145, 153, 167, 1);
}

.picont12 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #3deca7;
}

.picont2 {
  height: 60px;
  width: 22rem;

  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picont21 {
  width: 10rem;
  height: 100%;
}
.picont22 {
  width: 10rem;
  height: 100%;
}

.picont211 {
  font-weight: bold;
  color: #3deca7;
  font-size: 1.25rem;
}
.picont3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  width: 100%;
}
.picont31 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.picont32 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.picont311 {
  width: 10rem;
  height: 100%;
}

.picont312 {
  width: 10rem;
  height: 100%;
}

.picont3111 {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.4rem;
}

.poolliq p {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.plc2 {
  width: 30rem;
  height: 82px;
}
.plc2 .picont21 {
  width: 18rem;
}

.plc3 {
  width: 71%;
  height: 160px;
}

.plc3 .picont31 {
  height: 80px;
}

.plc3 .picont3111 {
  display: flex;
  flex-direction: row;
}

.plc2 .picont3111 {
  display: flex;
  flex-direction: row;
}

.plc4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.plc4 button {
  background-color: #d6bcfa;
  height: 32px;
  outline: none;
  border: none;
  padding: 0px 20px;
  border-radius: 20px;
}
.plc5 {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalsimple {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.modalsimple .main {
  border-right: 1px solid grey;
  height: fit-content;
  width: 60%;
  padding: 10px 0px;
  padding-right: 1em;
}

.modalsimple .summary {
  padding-left: 10px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  justify-content: space-between;
}

.sabtns {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.sabtns .sa button {
  padding: 5px 1em;
  border-radius: 30px;
  border: none;
  outline: none;
  font-weight: bold;
}

.sabtns + .predict {
  width: 100%;
  height: 14em;
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 0;
}

.pt {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  width: 100%;
}

.pt p {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  text-align: left;
  font-size: 0.875rem;
  opacity: 0.65;
}

.pi {
  width: 100%;
  height: 97%;
  padding: 1em 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0;
}

.piupdn {
  width: 47%;
  height: 90%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: medium;
}
.chartanimate {
  background-image: url("../../public/Media/chartAnimate.svg");
  background-repeat: repeat-x;
  z-index: 0;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-position: center center;
  background-size: cover;
}

.greenChart {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-image: url("../../public/Media/greenChart.svg");
  inset: 0;
  filter: none;
  background-position: center center;
  border: 2px solid grey;
}
.greenChartOFF {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-image: url("../../public/Media/greenChartOFF.svg");
  inset: 0;
  filter: none;
  background-position: center center;
}
.redChart {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-image: url("../../public/Media/redChart.svg");
  inset: 0;
  filter: none;
  background-position: center center;
  border: 2px solid grey;
}
.redChartOFF {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-image: url("../../public/Media/redChartOFF.svg");
  inset: 0;
  filter: none;
  background-position: center center;
}

.inputBOX {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.pricerange {
  height: fit-content;
  width: 100%;
}
.plab {
  width: 100%;
  height: 11em;
}
.pti {
  width: 100%;
  height: 7em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.amt {
  height: 90%;
  width: 60%;
}

.amtm {
  width: 100%;
  height: 4em;
  padding: 10px 0px;
}

#am1 {
  padding: 10px 7px;
}
.amtm1 {
  width: 100%;
  height: 100%;

  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.amtm1lo {
  height: 100%;
  width: 15%;
  background-image: url("https://app.perp.com/assets/coins/usd.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.amtm1in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.amtm1in input {
  outline: none;
  border: none;
  background-color: transparent;
}

.amdt {
  width: 40%;
  height: 90%;
}

.ptsd {
  display: flex;
  flex-direction: column;
}

.ptsd1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.scobtn {
  padding: 15px;
  width: 100%;
  height: 12%;
  padding-top: 0;
  padding-bottom: 0;
}

.hrc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* advanced */

.pia {
  height: 30%;
}

.pia1 {
  display: flex;
  flex-direction: row;
  padding: 0.5;
  background-color: #242629;
  border: 1px solid rgb(64, 64, 64);
}
.pia1 .mbtnt {
  height: 100%;
  width: 29%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mbtn button {
  border-radius: 90px;
  padding: 0px 8px;
  color: white;
  border: none;
  outline: none;
  background-color: #242629;
  font-style: bold;
}

.matxt {
  width: 71%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.matxt input {
  width: 75%;
  border: none;
  background-color: #242629;
  color: white;
}

.btcusdi {
  height: 13em;
  width: 100%;
}
.abpr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bua span {
  font-size: 0.9rem;
  color: white;
  font-weight: medium;
}

.bumain {
  display: flex;
  flex-direction: column;
  height: 6.5em;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0px;
  border: 0.5px solid rgb(51, 51, 51);
}

.bumain1 {
  width: 100%;
  height: 50%;
  border: none;
  border-bottom: 1px solid rgb(40, 40, 40);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bm1cont {
  display: flex;
  flex-direction: row;
  width: 13%;
  justify-content: space-between;
}

.bm1cont + input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 90%;
  padding: 0px 10px;
}

/* media 1197px - 800px*/

@media (max-width: 1197px) {
  span + #derivexlol {
    height: 205vh;
  }
  .poolmaincont {
    height: 100%;
    width: 95%;
  }
  .poolinfoliq {
    flex-direction: column;
    height: 92%;
  }
  .poolmch {
    height: 8%;
    margin-bottom: -10%;
  }
  .poolinfo {
    width: 100%;
    height: 100%;
  }
  .poolliq {
    width: 100%;
    height: 98rem;
    margin-left: 0%;
    margin-top: 5%;
  }
  .plc2 {
    width: 71%;
  }

  span + #derivexlol + .py-6 {
    padding-top: 6rem !important;
  }
}

/* media 600px - 430px*/

@media (max-width: 600px) {
  .plc2 {
    width: 100%;
  }
  .plc3 {
    width: 100%;
  }
  .modalsimple {
    flex-direction: column;
  }
  .modalsimple .main {
    width: 100%;
    border: none;
  }
  .pti {
    height: fit-content;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .amt {
    width: 100%;
  }
  .amdt {
    width: 100%;
  }

  .modalsimple .summary {
    margin-top: 25px;
    width: 100%;
  }
  .scobtnli {
    margin-bottom: 10px;
  }
}

@media (max-width: 410px) {
  .plc4 button {
    padding: 0px;
    width: 150px;
  }
}

@media (max-width: 390px) {
  .picont2 {
    width: 100%;
  }
}
